<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de ingreso de productos</title>
    <%- include("../partials/head.ejs"); %>
</head>
<body>
    <% if (productos.length) { %>
        <h2>Productos ingresados</h2>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
                <th scope="col">ID</th>
              </tr>
            </thead>
            <tbody>
            <% productos.forEach(elem => {  %>
              <tr>
                <th scope="row"><%-elem.title%></th>
                <th scope="row"><%-elem.price%></th>
                <th scope="row"><img src="<%-elem.thumbnail%>"/></th>
                <th scope="row"><%-elem.id%></th>
              </tr>
              <% } ) %>
            </tbody>
          </table>
    <% } else { %>
            <h2>No se encontraron productos</h2>
            <% } %>
    <a href="/api/">Volver al formulario</a>
</body>
</html>